<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header><%- include("../partials/header") %></header>
    <h1>Welcome Back</h1>
    <form>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email" />
      <div class="email error"></div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" />
      <div class="password error"></div>
      <button type="submit">Log in</button>
    </form>

    <script>
      const form = document.querySelector('form');
      form.addEventListener("submit", (e)=> {
        // prevent form from default submit
        e.preventDefault();
        // get form values;
        const email = form.email.value;
        const password = form.password.value;
  
        console.log(email, password);
      })
    </script>
    <footer><%- include("../partials/footer") %></footer>
  </body>
</html>
